.navbar{

position:fixed;

top:0;

left:0;

width:100%;

padding:18px 0;

background:rgba(255,255,255,.95);

backdrop-filter:blur(12px);

z-index:999;

box-shadow:0 2px 20px rgba(0,0,0,.05);

}

.nav-container{

display:flex;

justify-content:space-between;

align-items:center;

}

.logo{

font-size:2rem;

font-weight:800;

}

.logo span{

color:#7C3AED;

}

.nav-links{

display:flex;

gap:35px;

list-style:none;

}

.nav-links a{

text-decoration:none;

color:#222;

font-weight:600;

transition:.3s;

}

.nav-links a:hover{

color:#2563EB;

}

.menu-icon{

display:none;

font-size:28px;

cursor:pointer;

}

@media(max-width:768px){

.menu-icon{

display:block;

}

.nav-links{

position:absolute;

top:75px;

left:-100%;

width:100%;

background:white;

flex-direction:column;

text-align:center;

padding:30px 0;

transition:.35s;

}

.nav-links.active{

left:0;

}

}