.stats{

padding:70px 0;

}

.stats-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}

.stat-card{

background:white;

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:0 15px 40px rgba(0,0,0,.08);

transition:.35s;

}

.stat-card:hover{

transform:translateY(-10px);

}

.stat-card h2{

font-size:48px;

color:#2563EB;

margin-bottom:12px;

}

.stat-card p{

font-size:18px;

font-weight:600;

color:#555;

}

@media(max-width:900px){

.stats-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:500px){

.stats-grid{

grid-template-columns:1fr;

}

}